.card {

    width: 400px;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
body{
    font-family: 'Open Sans', sans-serif;

}



.close-icon {
    width: 40px;
    height: 40px;
    font-size: 20px;
}

.head {
    margin: 10px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
    font-weight: 800;


}
h4{
    font-weight: 800;
    font-size: 25px;
}

h2 {
    text-align: center;
    font-weight: 800;
    font-size: 25px;

}

p {
    font-weight: 600;
    color: #c9c9cb;
}
input{
    height: 50px;
}

html,
body {
    height: 100%;
}

body {

    /* background-image: url(./businessman-3210932_1280.jpg); */
    background-repeat: no-repeat;
    background-size: cover;

}

.Login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 550px;


}

.card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */

}

.card-body {
    color: #c9c9cb;

    input::placeholder,
    textarea::placeholder {
        color: #c9c9cb;
        /* color: #dee2e6; */
        /* color: rgb(235, 232, 232); */
        font-weight: 600;
    }

}

.button-group {
    display: flex;
    text-align: right;


    .danger {
        background-color: rgb(247, 107, 82);
        border-radius: 4px;
        width: 175px;
        font-weight: 500;
        margin-right: 15px;
        color: #fff;
    }

    .primary {
        background-color: rgb(75, 78, 250);
        border-radius: 4px;
        color: #fff;
        font-weight: 500;
        width: 175px;

    }
}

.h-btn {
    margin-right: 10px;
}

.last-line {
    text-align: center;
    margin: 20px;
    font-size: 12px;

    span {
        color: rgb(11, 103, 242);
    }
}
.location-form{
    /* border: 1px solid #c9c9cb; */
    padding: 20px;
    margin: 15px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    display: flex;
}
.location-icon{
    top: 297px;
    left: 757px;
    position: absolute;
}
.inner-location{
    p{
        font-size: 12px;

    }
}
.double-col{
    display: flex;
}
.items{
    display: flex;
    margin: 20px;
    color: #c9c9cb;
    font-weight: 500;
}
.radio-list{
    display: flex;
   
}
.radio-item input{
    display: none;
    /* visibility: hidden; */
}
.radio-item{
    border: 2px solid #c9c9cb;
    border-radius: 8px;
    padding: 5px 15px;
    margin-left: 15px;
}
.pri-btn-1{
    border-radius: 4px;
    border: 2px solid rgb(75, 78, 250);
    color: #fff;
    height: 50px;
    font-weight: 500;

}
.pri-btn{
    border-radius: 4px;
    /* border: 2px solid rgb(75, 78, 250); */
    color: #fff;
    outline: 2px solid rgb(75, 78, 250);
    font-weight: 500;
    width: 400px;
    display: flex;
    justify-content: center;
    text-align: center;

}
.long-btn{
    text-align: center;
}

.side-img{
    img{
        height: 400px;
        width: 450px;

    }
   

}
.inner-location {

    input::placeholder{
        color: #c9c9cb;
        /* color: #dee2e6; */
        /* color: rgb(235, 232, 232); */
        font-weight: 600;
    }

}
.first-box{
    display: flex;
    justify-content:space-between;
   
}
.drop-photo{
    height: 150px;
    width: 190px;
    border-radius: 8px;
    outline-style: dashed;
    outline-color: #c9c9cb;

}
.second-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
